.footerContainer {
    /*position: fixed;*/
    /*padding: 10px 10px 10px 10px;*/

    width: 98%;    
    display: grid;
    font-weight: bolder;

    grid-template-areas:
        "email social languages about newsletter"
        "copyRight copyRight copyRight copyRight copyRight"
}   

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
}

.Email {
    grid-area: email;
}

.Suscribe {
    display:grid;
    grid-area: newsletter;        
} 

.AboutUs {
    grid-area: about;
}

.Social {
    grid-area: social;
    justify-content:space-evenly;
}

.Social a img{
    transition: all 1s;
}

.Social a :hover{
    /*transform: scale(1.5, 1.5);*/
    width: 40px;
}

.Copyright {
    grid-area: copyRight;
        
}

.Languages {
    display:grid;    
    grid-area: languages;
}

@media screen and (max-width: 800px){
    .box {
        font-size:x-small;          
    }
    .Suscribe {
        display: none;
    }
}