.body {
    font-family: 'Prompt', sans-serif;
}

.header{
    font-family: 'Prompt', sans-serif; 
}

.footer{
    font-family: 'Prompt', sans-serif; 
}
.footerContainer {
    position: fixed;
    /*padding: 10px 10px 10px 10px;*/
    bottom: 0;
    right:0;
    width: 95%;
    


    width: 100%;    
    border-top: black solid 1px; 
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 3fr 3fr;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas:
        "email social languages about"
        /* No es correcto que un mismo elemento ocupe todas las columnas de una misma fila, a menos que ocupe otra columna en otra fila generando una forma de L */
        "copyRight copyRight copyRight copyRight";

    /*justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: center;*/
    
}

.box {
    border: white solid 0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Email {
    grid-area: email;
}

.AboutUs {
    grid-area: about;
}

.Social {
    grid-area: social;
    justify-content:space-evenly;
}

.Copyright {
    grid-area: copyRight;
        
}

.Languages {
    display:grid;
    grid-area: languages;
}