body {
    font-family: 'Prompt', sans-serif;
    
}

.header {
    position: fixed;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerLogo img {
    width: 150px;
    /*filter: invert(50);*/
   
}
.headerMenu {
    width: 100%;
    border-bottom: black solid 1px;
    
}

.headerMenu ul {
    display: flex;
    justify-content: space-between;
    list-style:none;
    margin: 0;
}

.headerMenu ul li {
    display: inline-block;
    padding: 0px 20px 0px 20px ;
    
}
/*.headerContainer {
    position: fixed;
    /*padding: 10px 10px 10px 10px;* /
    top: 0;
    right:0;
    width: 100%;    
    border-bottom: black solid 1px; 
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    /*grid-template-rows: 3fr 3fr; * /
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas:
        "email social languages about"
        /* No es correcto que un mismo elemento ocupe todas las columnas de una misma fila, a menos que ocupe otra columna en otra fila generando una forma de L * /
    
}
*/
.footerContainer {
    position: fixed;
    /*padding: 10px 10px 10px 10px;*/
    bottom: 0;
    right:0;
    width: 100%;    
    border-top: black solid 1px; 
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 3fr 3fr;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-areas:
        "email social languages about"
        "copyRight copyRight copyRight copyRight";
}

.box {
    border: white solid 0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Email {
    grid-area: email;
}

.AboutUs {
    grid-area: about;
}

.Social {
    grid-area: social;
    justify-content:space-evenly;
}

.Copyright {
    grid-area: copyRight;
        
}

.Languages {
    display:grid;    
    grid-area: languages;
}

.Principal {
    display: grid;
    /*border:solid;*/
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;    
    height:70vh;
    grid-template-areas: "izquierda derecha";
    justify-items: center;
    align-items: center;
    text-align: center;

    justify-content: center;
    align-content: center;

    
}
.Izquierda{
    /*border:solid;*/
    justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: center;

    grid-area: izquierda;
}

.Derecha{
    /*border:solid;*/
    grid-area: derecha;
}